<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
        <app-navbar-links></app-navbar-links>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <mat-toolbar class="topbar">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Admin Panel</span>

            <div class="icons text-end">
                <button mat-icon-button>
                    <mat-icon matBadge="13" matBadgeColor="warn">notifications</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon matBadge="4" matBadgeColor="warn">drafts</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>face</mat-icon>
                </button>
            </div>
        </mat-toolbar>

        <div class="container">
            <div class="my-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>