.side-nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 16rem;
    background: #25293B;
    color: white;
}

.sidenav {
    background-color: #25293B;
    height: 100vh;
    width: 256px;
    color: white;
}

.sidenav-content {
    background-color: #F7F9FB;
    height: 100vh;
}

.topbar {
    background-color: white;
}